@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #22212c;
    display: flex;
}

/*SIDE-LATERAL*/

#side {
    margin: 30px;
}

.perfil {
    width: 348px;
    height: 268px;
    background-color: #302F3D;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    text-align: center;
}

#img-perfil {
  border-radius: 50%;
  border: 3px solid #00FF00;
  margin-top: 20px;
}

.links {
    width: 348px;
    height: 278px;
    background-color: #302F3D;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    margin-top: 20px;
    position: relative;
}
.img-git {
    position: absolute;
    top: 20px;
    left: 20px;
}
.link-git {
    position: absolute;
    top: 40px;
    left: 80px;
}
.img-code {
    position: absolute;
    top: 80px;
    left: 20px;
}
.link-code {
    position: absolute;
    top: 95px;
    left: 80px;
}
.img-insta {
    position: absolute;
    top: 140px;
    left: 20px;
}
.link-insta {
    position: absolute;
    top: 155px;
    left: 80px;
}
.img-linked {
    position: absolute;
    top: 200px;
    left: 20px;
}
.link-linked {
    position: absolute;
    top: 215px;
    left: 80px;
}

a {
    text-decoration: none;
    color: #837E9F;
    font-weight: bold;
}

.tecnologia {
    width: 348px;
    height: 180px;
    background-color: #302F3D;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    margin-top: 20px;
    /*text-align: center;*/
    color: #837E9F;
    position: relative;
}

#h2-tec {
    margin-bottom: 10px;
    padding-top: 15px;
}

.html-box{
    border: 3px solid #202020;
    border-radius: 4px;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 60px;
    left: 28px;
    transition: box-sahadow 0.1s;
}
.html-box:hover {
    border: 3px solid #e65100;
    box-shadow: 0px 0px 35px #e65100, 0px 0px 15px #e65100 inset;
}

.css-box {
    border: 3px solid #202020;
    border-radius: 4px;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 60px;
    left: 104px;
}
.css-box:hover {
    border: 3px solid #249ef0;
    box-shadow: 0px 0px 35px #249ef0, 0px 0px 15px #249ef0 inset;
}

.js-box {
    border: 3px solid #202020;
    border-radius: 4px;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 60px;
    right: 104px;
}
.js-box:hover {
    border: 3px solid #ffd600;
    box-shadow: 0px 0px 35px #ffd600, 0px 0px 15px #ffd600 inset;
}

.ps-box {
    border: 3px solid #202020;
    border-radius: 4px;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 60px;
    right: 28px;
}
.ps-box:hover {
    border: 3px solid #03a9f4;
    box-shadow: 0px 0px 35px #03a9f4, 0px 0px 15px #03a9f4 inset;
}

.experiencia {
    width: 348px;
    height: 252px;
    background-color: #302F3D;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    margin-top: 20px;
}

.educacao {
    width: 348px;
    height: 252px;
    background-color: #302F3D;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    margin-top: 20px;
}

    /*FONTES-LISTAS*/



h1, h3 {
    color: #837E9F;
}

h2,h4, p{
    color: #837E9F;
}
h2 {
    margin-bottom: 10px;
    margin-left: 20px;
    padding-top: 15px;
}

p  {
    padding-left: 20px;
    margin-bottom: 10px;
}

li{
    font-size: 16px;
    margin-left: 40px;
    color: #837E9F;
}

p {
    font-size: 14px;
    margin-left: 20px;
    padding-bottom: 10px;
}

span {
    font-weight: bold;
}

/*FINAL SIDE-LATERAL*/

/*INICIO-PRINCIPAL */

.container {
    width: 1000px;
    margin-top: 30px;
    
}

.meusprojetos {
    background-color: #302F3D;
    width: 1000px;
    height: 80px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    border-radius: 10px;
    position: absolute;
    
    
}

.projeto1 {
    background-color: #302F3D;
    width: 490px;
    height: 190px;
    position: absolute;
    top: 130px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    position: absolute;
}   

.projeto2 {
    background-color: #302F3D;
    width: 490px;
    height: 190px;
    position: absolute;
    top: 130px;
    right: 111px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}

.postrecente {
    background-color: #302F3D;
    width: 1000px;
    height: 80px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    border-radius: 10px;
    position: absolute;
    top: 340px;
}

.post {
    background-color: #302F3D;
    width: 1000px;
    height: 153px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    border-radius: 10px;
    position: absolute;
    top: 440px;
    display: flex;
}

#prjt {
    margin-top: 10px;
    font-weight: bold;
}

#vt {
   position: absolute;
   top: 30px;
   right: 30px;
   
}

#rp {
    margin-top: 10px;
    font-weight: bold;
}

#img-post {
    border-radius: 50%;
    /*border: 3px solid #00FF00;*/
    margin-top: 20px;
    margin-left: 30px;
    width: 105px;
    height: 105px;
}

#txt-bio {
   margin-top: 40px;
   margin-right: 30px;
}

#folder {
  margin-left:20px ;  
}
#h3-proj {
    position: absolute;
    left: 80px;
    top: 15px;
}

#txt-proj {
    margin-left: 6px;
}

#c-orange {
    position: absolute;
    left: 30px;
    bottom: 20px;
    
}

#sp-html {
    position: absolute;
    left: 50px;
    bottom: 20px;
    color: #837E9F;
    font-weight: bold;
}

#c-blue {
   position: absolute;
   left: 110px;
   bottom: 20px;
}
#sp-css {
    position: absolute;
    left: 130px;
    bottom: 20px;
    color: #837E9F;
    font-weight: bold;
}

#c-yellow {
    position: absolute;
    left: 178px;
    bottom: 20px;
}

#sp-java {
    position: absolute;
    left: 198px;
    bottom: 20px;
    color: #837E9F;
}

#link-pasta {
    position: absolute;
    bottom: 20px;
    right: 30px;
}




